.HSChange{
    color: black;
    padding-top: 175px;
    text-align:center;
    padding-bottom: 20px;
}

.items{
    text-align: center;
}

.about{
    margin-top: 25px;
    font-size: 20px;
}

.venmo{
    font-size: 20px;

}
