.HSChange{
    color: black;
    padding-top: 3%;
    text-align:center;
}

.items{
    text-align: center;
}

.about{
    margin-top: 3%;
    padding-bottom: 4%;
    font-size: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

.venmo{
    font-size: 20px;

}

.HSPic{
    max-height: 100%;
    max-width: 100%;
}

