.join-page {
    text-align: center; 
    margin: auto; 
    max-width: 600px; 
    padding-top: 3%;
  }
  
  .requirements {
    margin-top: 20px; 
  }
  
  .requirements ul {
    list-style-type: none; 
    padding: 0;
  }
  
  .requirements li {
    margin-bottom: 10px; 
  }
  
  .icon {
    margin-right: 5px; 
  }

  .benefits{
    margin-top: 20px; 
  }

  .benefits ul{
    list-style-type: none; 
    padding: 0;
  }
  
  .benefits li {
    margin-bottom: 10px; 
  }