.MissionValues{
    color: black;
    padding-top: 8.85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.mlTitle{
    font-weight: bold;
    font-size: x-large;
}

.tennantsSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}
  
.tennantsItem {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
}
  
.tennants {
    font-weight: bold;
    font-size: large;
    -webkit-text-fill-color: blue;
    margin-left: 1%;
    flex-basis: 10%;
}
  
.tennantsText {
    flex-basis: 90%;
}