/*.app{
    background-color: lightyellow;
    height: 100vh;
}*/
.masthead{
    max-width: 100%;
    max-height: calc(100vw * 0.095);
}

.social-media-icons a{
    color: black;
    font-size: 2rem;
  }