    .welcome-message{
    text-align: center;
  }
  
  .group-container{
    display: flex;
    justify-Content: center;
    align-items: center;
  }
  .group-pic{
    margin-top: 150px;
    max-width: 80%;
    max-height: 80%;
  }
  
  .question{
    white-space: nowrap;
  }
  
  .about-cki{
    font-family:'Times New Roman', Times, serif;
    font-size: 19px;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    gap: 30px;
    margin-top: 50px;
  }
  
  .calendar{
    margin-bottom: 100px;
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
  }
  
  .join{
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
  }
  
  .info{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .join-info{
    justify-content:center;
    font-size: 30px;
    display:flex;
    margin-left: 15%;
    margin-right: 15%;
    align-items: center;
    gap: 100px;
  }
  
  .masthead{
    margin-top: 200px;
    max-width: 100%;
    max-height: calc(100vw * 0.095);
  }