  .group-container{
    display: flex;
    justify-content: center;
    align-items: center;
  } 

  .group-pic{
    margin-top: 10%;
    max-width: 100%;
    max-height: 100%;
  }

  .welcome-message{
    text-align: center;
  }
  
  .question{
    font-size: 1.75vw;
    color:steelblue;
    white-space: nowrap;
  }
  
  .about-cki{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.25vw;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    gap: 30px;
    margin-top: 50px;
    border: 2px solid #000;
  }
  
  .calendar{
    margin-bottom: 10%;
    margin-top: 5%;
    font-size: 5vw;
    text-align: center;
  }
  
  .join{
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
  }
  
  .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
  }
  
  .join-info{
    justify-content:center;
    font-size: 3vw;
    display:flex;
    margin-left: 15%;
    margin-right: 15%;
    align-items: center;
    gap: 5%;
  }

  .button{
    background-color: #D4D4D4;
    color: black;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 200px;
  }

  .button:hover{
    text-decoration: underline;
  }

 

