.main {
    justify-content: space-between;
    position: fixed;
    background: #27285C;
    align-items: center;
    color: white;
    font-size: 24px;
    display: flex;
    width: 100%; 
    margin-top: none;
}

.cki-logo {
    max-width: 150px;
    max-height: 150px;
    margin-right: 250px;
}

.welcome-message {
    font-size: 32px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-decoration: none;
}

.welcome-message:hover{
    text-decoration: underline;
}


.about{
    position:relative;
    display: inline-block;
}

.about-btn{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 28px;
    margin-left: 75px;
}
 
.about-menu a{
    display: block;
    margin-left: 75px;
    font-size: 16px;
    background-color: white;
}

.about-menu{
    position: absolute;
    overflow: hidden;
    display: none;
}

.about:hover .about-menu{
    display:block;
}

.about-btn:hover {
    text-decoration: underline;
}
.calendar-btn{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 28px;
    margin-left: 50px;
    text-decoration: none;
}

.calendar-btn:hover{
    text-decoration: underline;
}

.resources-btn{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 28px;
    margin-left: 50px;
}

.resources-btn:hover{
    text-decoration: underline;
}

.resources-menu a{
    display: block;
    margin-left: 50px;
    font-size: 16px;
    background-color: white;
}

.resources:hover .resources-menu{
    display:block;
}

.resources-menu{
    position: absolute;
    display:none;
}

.login-btn{
    background-color: gray;
    border: none;
    font-size: 16px;
}
