.main {
    justify-content: space-between;
    position: fixed;
    background: #27285C;
    align-items: center;
    color: white;
    display: flex;
    width: 100vw; 
    z-index: 999;
    top: 0;
}

.cki-logo {
    max-width: 10%;
    max-height: 10%;
    margin-left: 2.5%;
}

.welcome-message {
    font-size: 5vw;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-decoration: none;
}

.welcome-message:hover{
    text-decoration: underline;
}

.about-btn{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2.5vw;
    margin-left: 5%;
}
 
.about-menu a{
    text-overflow: none;
    display: block;
    margin-left: 5%;
    font-size: 1.2vw;
    background-color: white;
}

.about-menu{
    position: absolute;
    display: none;
}

.about-div:hover .about-menu{
    display:block;
} 

.about-btn:hover {
    text-decoration: underline;
}
.calendar-btn{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2.5vw;
    text-decoration: none;
}

.calendar-btn:hover{
    text-decoration: underline;
}

.resources-btn{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2.5vw;
    margin-left: 5%;
}

.resources-btn:hover{
    text-decoration: underline;
}

.resources-menu a{
    text-overflow: none;
    display: block;
    margin-left: 5%;
    font-size: 1.2vw;
    background-color: white;
}

.resources-div:hover .resources-menu{
    display:block;
}

.resources-menu{
    position: absolute;
    display:none;
}

.login-btn{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2.5vw;
    text-decoration: none;
    margin-right: 2.5%;
}

.login-btn:hover{
    text-decoration: underline;
}
