/*.main {
    justify-content: space-between;
    position: fixed;
    background: #27285C;
    align-items: center;
    color: black;
    display: flex;
    width: 100vw; 
    z-index: 999;
    top: 0;
}
*/

.cki-logo {
    max-width: 25%;
    max-height: 25%;
    margin-left: 3%;
    margin-right: 6%;
}

.navbar-brand{
    font-size: 28px;
}

.navbar-brand:hover{
    text-decoration: underline;
}

.navbar-toggler {
    margin-top: 10px;
    font-size: 0.5rem; 
}

.navbar-toggler[aria-expanded="true"] + .collapse.navbar-collapse {
    flex-direction: row;
  }

.about-btn{
    background-color: transparent;
    border: none;
    color: black;
    font-size: 1.3rem;
}
 
.about-menu a{
    text-overflow: none;
    display: block;
    font-size: 1.2vw;
    background-color: black;
}

.about-menu{
    position: absolute;
    display: none;
}

.about-div:hover .about-menu{
    display:block;
} 

.about-btn:hover {
    text-decoration: underline;
}
.calendar-btn{
    background-color: transparent;
    border: none;
    color: black;
    font-size: 1.3rem;
    text-decoration: none;
}

.calendar-btn:hover{
    text-decoration: underline;
}

.resources-btn{
    background-color: transparent;
    border: none;
    color: black;
    font-size: 1.3rem;
}

.resources-btn:hover{
    text-decoration: underline;
}

.resources-menu a{
    text-overflow: none;
    display: block;
    font-size: 1.2vw;
    background-color: black;
}

.resources-div:hover .resources-menu{
    display:block;
}

.resources-menu{
    position: absolute;
    display:none;
}

.login-btn{
    background-color: transparent;
    border: none;
    color: black;
    font-size: 1.3rem;
    text-decoration: none;
}

.login-btn:hover{
    text-decoration: underline;
}
